{:aliases
   {:build/main {:build-with {:aliases [:foss/supatom-redis],
                              :class-dir "target/classes",
                              :clojars? true,
                              :project "deps.edn",
                              :repo "http://github.com/patbrown/supatom-redis",
                              :scm-url "github.com",
                              :src-dirs ["src"],
                              :username "patbrown",
                              :version "0.1.2"},
                 :deps {babashka/process {:mvn/version "0.5.22"},
                        io.github.clojure/tools.build {:mvn/version "0.10.6"}},
                 :extra-paths ["build"],
                 :ns-default build},
    :deploy/main {:exec-args {:artifact "target/deploy.jar",
                              :installer :remote,
                              :pom-file "target/pom.xml",
                              :sign-releases? false},
                  :exec-fn deps-deploy.deps-deploy/deploy,
                  :extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}},
    :foss/supatom-redis
      {:build-with {:aliases [:foss/supatom-redis],
                    :repo "http://github.com/patbrown/supatom-redis",
                    :version "0.1.2"},
       :extra-deps {baby.pat/secrets {:mvn/version "0.0.2"},
                    baby.pat/supatom {:mvn/version "0.1.0"},
                    com.taoensso/carmine {:mvn/version "3.5.0-alpha4"}},
       :extra-paths ["src"],
       :nss [{:destination "bin/foss/supatom-redis/src",
              :files ["baby/pat/supatom/redis.clj"],
              :source "bin/code/src"}]},
    :run/repl
      {:extra-deps {cider/cider-nrepl {:mvn/version "0.50.2"},
                    nrepl/nrepl {:mvn/version "1.1.0"},
                    refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}},
       :main-opts
         ["-m" "nrepl.cmdline" "-b" "0.0.0.0" "-p" "8675" "--middleware"
          "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}},
 :build-with {:aliases [:foss/supatom-redis],
              :class-dir "target/classes",
              :clojars? true,
              :project "deps.edn",
              :repo "http://github.com/patbrown/supatom-redis",
              :scm-url "github.com",
              :src-dirs ["src"],
              :username "patbrown",
              :version "0.1.2"}}
